.login-container {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-input-container {
        width: 20%;

        .login-input {
            margin-bottom: 1rem;
            width: 90%;
        }
    }
    
    .registration-redirect {
        color: #0000CD	;
        text-decoration: none;
        cursor: pointer;
    }

    .error-list {
        margin: 0;
        padding: 0;
        list-style: none;

        .error {
            color: red;
            margin-bottom: 0.5rem;
        }
    }
}